@model List<Catalog>

<h3>@ViewData["FolderName"]</h3>

<ul style="list-style-type: none;">
    @foreach (var folder in Model)
    {
        <li>
            <a href="@Url.Action("ViewFolder", "Home", new {folderId = folder.Id})">@folder.Name</a>
        </li>
    }
</ul>

<ul style="list-style-type: none;">
    <li>
        <a href="@Url.Action("SaveCatalogToJson", "Catalog")">Зберегти структуру каталогу до JSON</a>
        <a href="@Url.Action("LoadCatalogFromJson", "Catalog")">Завантажити структуру каталогу з JSON</a>
    </li>
</ul>
